<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>

  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="../static/https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="https://projectpetid-lqp3.onrender.com/" class="brand-logo">🐶</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://projectpetid-lqp3.onrender.com/">Home</a></li>
        <li><a href="https://projectpetid-lqp3.onrender.combreeds">Breeds</a></li>
      </ul>
    </div>
  </nav>

  <div class='container'>
    <div class='center row' id='demobox'>
      <div class="col s6 container">
        <h4>Cat Breeds</h4>
        <figure>
          <img src="../static/abyssinian.jpg" style="width:50%">
          <figcaption>Abyssinian</figcaption>
        </figure>
        <figure>
          <img src="../static/bengal.jpg" style="width:50%">
          <figcaption>Bengal</figcaption>
        </figure>
        <figure>
          <img src="../static/birman.jpg" style="width:50%">
          <figcaption>Birman</figcaption>
        </figure>
        <figure>
          <img src="../static/bombay.jpg" style="width:50%">
          <figcaption>Bombay</figcaption>
        </figure>
        <figure>
          <img src="../static/british_shorthair.jpg" style="width:50%">
          <figcaption>British Shorthair</figcaption>
        </figure>
        <figure>
          <img src="../static/egyptian_mau.jpg" style="width:50%">
          <figcaption>Egyptian Mau</figcaption>
        </figure>
        <figure>
          <img src="../static/maine_coon.jpg" style="width:50%">
          <figcaption>Maine Coon</figcaption>
        </figure>
        <figure>
          <img src="../static/persian.jpg" style="width:50%">
          <figcaption>Persian</figcaption>
        </figure>
        <figure>
          <img src="../static/ragdoll.jpg" style="width:50%">
          <figcaption>Ragdoll</figcaption>
        </figure>
        <figure>
          <img src="../static/russian_blue.jpg" style="width:50%">
          <figcaption>Russian Blue</figcaption>
        </figure>
        <figure>
          <img src="../static/siamese.jpg" style="width:50%">
          <figcaption>Siamese</figcaption>
        </figure>
        <figure>
          <img src="../static/sphynx.jpg" style="width:50%">
          <figcaption>Sphynx</figcaption>
        </figure>
      </div>
      <div class="col s6 container">
        <h4>Dog Breeds</h4>
        <figure>
          <img src="../static/american_bulldog.jpg" style="width:50%">
          <figcaption>American Bulldog</figcaption>
        </figure>
        <figure>
          <img src="../static/american_pit_bull_terrier.jpg" style="width:50%">
          <figcaption>American Pit Bull Terrier</figcaption>
        </figure>
        <figure>
          <img src="../static/basset_hound.jpg" style="width:50%">
          <figcaption>Basset Hound</figcaption>
        </figure>
        <figure>
          <img src="../static/beagle.jpg" style="width:50%">
          <figcaption>Beagle</figcaption>
        </figure>
        <figure>
          <img src="../static/boxer.jpg" style="width:50%">
          <figcaption>Boxer</figcaption>
        </figure>
        <figure>
          <img src="../static/chihuahua.jpg" style="width:50%">
          <figcaption>Chihuahua</figcaption>
        </figure>
        <figure>
          <img src="../static/english_cocker_spaniel.jpg" style="width:50%">
          <figcaption>English Cocker Spaniel</figcaption>
        </figure>
        <figure>
          <img src="../static/english_setter.jpg" style="width:50%">
          <figcaption>English Setter</figcaption>
        </figure>
        <figure>
          <img src="../static/german_shorthaired.jpg" style="width:50%">
          <figcaption>German Shorthaired</figcaption>
        </figure>
        <figure>
          <img src="../static/great_pyrenees.jpg" style="width:50%">
          <figcaption>Great Pyrenees</figcaption>
        </figure>
        <figure>
          <img src="../static/havanese.jpg" style="width:50%">
          <figcaption>Havanese</figcaption>
        </figure>
        <figure>
          <img src="../static/japanese_chin.jpg" style="width:50%">
          <figcaption>Japanese Chin</figcaption>
        </figure>
        <figure>
          <img src="../static/keeshond.jpg" style="width:50%">
          <figcaption>Keeshond</figcaption>
        </figure>
        <figure>
          <img src="../static/leonberger.jpg" style="width:50%">
          <figcaption>Leonberger</figcaption>
        </figure>
        <figure>
          <img src="../static/miniature_pinscher.jpg" style="width:50%">
          <figcaption>Miniature Pinscher</figcaption>
        </figure>
        <figure>
          <img src="../static/newfoundland.jpg" style="width:50%">
          <figcaption>Newfoundland</figcaption>
        </figure>
        <figure>
          <img src="../static/pomeranian.jpg" style="width:50%">
          <figcaption>Pomeranian</figcaption>
        </figure>
        <figure>
          <img src="../static/pug.jpg" style="width:50%">
          <figcaption>Pug</figcaption>
        </figure>
        <figure>
          <img src="../static/saint_bernard.jpg" style="width:50%">
          <figcaption>Saint Bernard</figcaption>
        </figure>
        <figure>
          <img src="../static/samoyed.jpg" style="width:50%">
          <figcaption>Samoyed</figcaption>
        </figure>
        <figure>
          <img src="../static/scottish_terrier.jpg" style="width:50%">
          <figcaption>Scottish Terrier</figcaption>
        </figure>
        <figure>
          <img src="../static/shiba_inu.jpg" style="width:50%">
          <figcaption>Shiba Inu</figcaption>
        </figure>
        <figure>
          <img src="../static/staffordshire_bull_terrier.jpg" style="width:50%">
          <figcaption>Staffordshire Bull Terrier</figcaption>
        </figure>
        <figure>
          <img src="../static/wheaten_terrier.jpg" style="width:50%">
          <figcaption>Wheaten Terrier</figcaption>
        </figure>
        <figure>
          <img src="../static/yorkshire_terrier.jpg" style="width:50%">
          <figcaption>Yorkshire Terrier</figcaption>
        </figure>
      </div>

    </div>
  </div>





<script type="text/javascript" src="../static/js/materialize.min.js"></script>
</body>
</html>
